#star {
    height: 40px;
    width: auto;
    margin: auto;
}

input[type=text] {
    border: 2px solid black;
    width: 75%;
}
input[type=email] {
    border: 2px solid black;
    width: 75%;
}
input[type=instagram] {
    border: 2px solid black;
    width: 75%;
}
textarea[type=message] {
    border: 2px solid black;
    width: 75%;
}

.ig {
    height: 36px;
    width: auto;
    margin: auto;
}