#star {
    height: auto;
    width: auto;
}

input[type=text] {
    border: 2px solid black;
    width: 75%;
}
input[type=email] {
    border: 2px solid black;
    width: 75%;
}
input[type=instagram] {
    border: 2px solid black;
    width: 75%;
}

.ig {
    height: 36px;
    width: auto;
    margin: auto;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    color: white;
    padding: 8px;
    z-index: 100;
  }
  
  .skip-link:focus {
    top: 0;
  }